.checkout {
  padding: 4rem 0 10rem;

  &__back {
    display: inline-block;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  &__tabs {
    margin-bottom: 2.5rem;
  }

  &__title {
    margin-bottom: 6rem;
    font-weight: 500;
  }

  &__input {
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    display: block;
    width: 100%;
    max-width: 25rem;
    height: 4rem;
    padding: 0.5rem;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.2rem;
    border: 0.50px solid #000;
    border-radius: 5px;

    &::placeholder {
      color: #757575;

    }

    &--area {
      max-width: 100%;
      resize: none;
      height: 10rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-start;
    gap: 3.4rem;
  }

  &__body {
    grid-column: 8 span;
  }

  &__total {
    grid-column: 4 span;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 3rem;

    font-family: var(--font-family);
    font-weight: 300;
    font-size: 3rem;
    color: #040404;
  }

  &__wrap {
    position: relative;
    margin-bottom: 4rem;

    a {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 1.2rem;
      color: #e42313;
    }
  }

  &__wrapper {
    margin-bottom: 2rem;
  }

  &__body {
    padding: 4.5rem 7rem;
    box-shadow: 0 4px 4px 0 rgba(144, 144, 144, 0.25);
    background: #fff;
    border-radius: 2rem;
  }

  &__form {
    &:not(:last-child) {
      margin-bottom: 8rem;
    }

    &:last-child {
      padding-bottom: 3rem;
      border-bottom: 2px solid #dbdbdb;
    }
  }


  &__time {
    display: flex;
    align-items: center;
    gap: .8rem;

    p {
      margin: 0;

      font-weight: 300;
      font-size: 1.6rem;
      color: #000;
    }

    label {
      cursor: pointer;
      display: inline-block;
      padding: 0.5rem;
      border: 1px solid #a4a4a4;
      border-radius: 5px;

      font-family: var(--font-family);
      font-weight: 300;
      font-size: 1.2rem;
      color: #000;

      input:checked~span {
        color: #e42313;
      }
    }
  }

  &__ways {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  &__tabs {
    max-width: 90%;

  }

  &__tab {
    padding: 1.5rem 5rem;
  }

  &__bonus {
    margin: 2rem 0;
  }

  &__form-b {
    margin-bottom: 4rem;

    input {
      margin-bottom: 2rem;
    }
  }

  &__btn {
    padding: 1rem 2rem;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 1.4rem;
    color: #000;
    border: 0.50px solid #000;
    border-radius: 5px;
  }

  &-total {
    text-align: center;

    &-title {
      margin-bottom: 1rem;
    }

    &-sum {
      margin-bottom: 1rem;
      font-weight: 300;
      font-size: 3rem;
      text-align: center;
      color: #040404;
    }

    &-sub {
      display: inline-block;
      margin: 0 auto;
      padding: 1.2rem 2.8rem;
      border: 0.50px solid #000;
      border-radius: 5px;
      font-weight: 400;
      color: #e42313;
    }
  }
}


.pay {
  display: inline-flex;
  align-items: center;
  gap: 1rem;

  img {
    display: block;
    width: 2rem;
    height: auto;
    object-fit: contain;
  }

  span {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.6rem;
    color: #000;
  }

  input:checked~.box {
    border-color: #e42313;
    background-color: transparent;
  }

  .box {
    flex-shrink: 0;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
    background-color: #d9d9d9;
    border: 2px solid transparent;
  }
}


.ch-t {
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: 0 4px 4px 0 rgba(144, 144, 144, 0.25);
  background: #fff;

  &__title {
    margin-bottom: 3rem;
  }

  &__top {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 1.2rem;
    align-items: flex-start;
  }

  &__name {
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.6rem;
    color: #000;
  }

  &__desc {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.4rem;
    color: #000;
  }

  &__cart {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: auto;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__extra {
    margin-bottom: 1.3rem;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.4rem;
    color: #000;
  }

  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}