.prod {
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  &__img {
    height: 45rem;

    @include small-tablet {
      height: 17rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    padding: 2.4rem 3.3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    @include small-tablet {
      padding: 1.2rem;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__pagination {
    margin-top: 1rem;
  }

  &__arr {
    position: absolute;
    width: 3rem;
    height: 6rem;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: 100%;
      height: 100%;
    }

    &--prev {
      left: -5.4rem;
    }

    &--next {
      right: -5.4rem;
    }
  }

  &__weight {
    margin: 0;
    margin-bottom: 1.4rem;

    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;

    @include small-tablet {
      font-size: .8rem;
      margin-bottom: 0.5rem;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;

    @include small-tablet {
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }
  }

  &__price {
    margin: 0;
    font-weight: 400;
    font-size: 2.2rem;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;

    @include small-tablet {
      font-size: 1rem;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include small-tablet {
      // flex-direction: column;
      // align-items: flex-start;
    }
  }

  &__btn {
    width: 100%;


  }

  &__prize {
    background-color: #fff;
    padding: 1rem 1.5rem;
    display: inline-flex;
    width: auto;
    align-items: center;
    gap: .2rem;
    box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.1);
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 2.4rem;
    color: #000;
    // margin-bottom: 1rem;
    border-radius: 5px;

    @include small-tablet {
      font-size: 1.2rem;
      padding: .4rem;
      gap: 5px;
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border: none;
      background: none;
      text-align: center;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.5rem;
      color: #464545;
      width: 100%;

      @include small-tablet {
        font-size: 1rem;
      }

      &:focus {
        outline: none;
      }
    }

    .minus,
    .plus {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 3rem;
      color: #464545;
      cursor: pointer;

      @include small-tablet {
        font-size: 1rem;
      }
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;

    @include small-tablet {
      width: 1.4rem;
      height: 1.4rem;
    }

    svg {
      width: 100%;
      height: 100%;
      fill: #8F8F8F !important;
    }
  }

  &__btn {
    padding: 1rem;
    font-size: 2rem;
    border-width: 1px;
    height: 4.7rem;
    text-transform: lowercase;

    @include small-tablet {
      padding: 0.5rem;
      font-size: 1rem;
      height: auto;
    }

    &.active {
      background-color: #EAEAEA;
    }
  }
}