.single-prod {
  padding: 7rem 0;

  @include small-tablet {
    padding: 3rem 0;
  }

  &__breadcrumbs {
    margin-bottom: 4rem;

    @include small-tablet {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin-bottom: 6rem;
    font-weight: 500;
    color: #494949;

    span {
      font-size: 75%;
    }

    @include small-tablet {
      margin-bottom: 2rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;

    @include small-tablet {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__left {
    max-width: 100%;
    min-width: 0;
  }

  &__slider {
    max-width: 100%;
    min-width: 0;

    .swiper-slide {
      height: 45.2rem;
      border-radius: 1rem;
      overflow: hidden;

      @include small-tablet {

        height: 24rem;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .swiper-wrapper {
      margin-bottom: 1rem;

      @include small-tablet {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__pag {
    position: static;

    --swiper-pagination-color: #141414;
    --swiper-pagination-bullet-width: 1.5rem;
    --swiper-pagination-bullet-height: 1.5rem;

    @include small-tablet {
      --swiper-pagination-bullet-width: .6rem;
      --swiper-pagination-bullet-height: .6rem;
    }
  }

  &__control {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 3.7rem;
    cursor: pointer;

    @include small-tablet {
      height: 2.5rem;
    }

    &--prev {
      left: 1.5rem;
    }

    &--next {
      right: 1.5rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 2rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 3.5rem;
    color: #494949;

    span {
      font-size: 70%;
    }

    @include small-tablet {
      font-size: 2.4rem;
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 2rem;

      @include small-tablet {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__t {
    margin-bottom: 5rem;

    @include small-tablet {
      margin-bottom: 2rem;
    }
  }

  &__price {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    color: #494949;

    @include small-tablet {
      font-size: 2rem;
    }
  }

  &__row {
    margin-bottom: 4.5rem;
    display: flex;
    align-items: center;
    gap: 4rem;

    @include small-tablet {
      margin-bottom: 2.5rem;
      gap: 2rem;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1.2rem 7rem;
    border: 0.50px solid #8f8f8f;
    border-radius: 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2.5rem;
    color: #e42313;

    @include small-tablet {
      font-size: 1.5rem;
      padding: 1rem -2rem;
      width: 100%;
    }

    svg {
      width: 3rem;
      height: 3rem;

      @include small-tablet {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}