<section class="checkout">
  <div class="container">
    <!-- <a href="#" class="text checkout__back">Вернуться в корзину</a> -->
    <!-- <a href="#" class="text checkout__back">Меню</a> -->
    <div class="breadcrumbs single-prod__breadcrumbs">
      <ul>
        <li>
          <a href="#">Меню</a>
        </li>
        <li>
          <a href="#">Корзина</a>
        </li>
        <li>
          <span>Оформление заказа</span>
        </li>
      </ul>
    </div>
    <!-- <h2 class="title2 checkout__title">Оформление заказа</h2> -->

    <div class="checkout__container">
      <div class="checkout__body">
        <div class="checkout__wrapper">
          <form class="checkout__form">
            <div class="checkout__subtitle">Способ получения</div>
            <div class="tabs__items checkout__tabs tabs">
              <div class="checkout__tab tabs__item" data-tab="sam">
                Самовызов
              </div>
              <div class="checkout__tab tabs__item active">Доставка</div>
            </div>

            <input type="text" class="checkout__input" placeholder="Имя" />
            <input
              type="text"
              class="checkout__input"
              placeholder="Номер телефона"
            />

            <div class="checkout__wrap checkout__form--address">
              <a href="#">выбрать</a>
              <textarea
                class="checkout__input checkout__input--area"
                placeholder="Адрес пиццерии"
              ></textarea>
            </div>

            <div class="checkout__time">
              <p>Время доставки</p>

              <label>
                <input
                  type="radio"
                  name="time"
                  checked
                  class="visually-hidden"
                  value="Побыстрее"
                />
                <span>Побыстрее</span>
              </label>
              <label>
                <input
                  type="radio"
                  name="time"
                  class="visually-hidden"
                  value="12:00-13:30"
                />
                <span>12:00-13:30</span>
              </label>
              <label>
                <input
                  type="radio"
                  name="time"
                  class="visually-hidden"
                  value="12:15-12:45"
                />
                <span>12:15-12:45</span>
              </label>
              <label>
                <input
                  type="radio"
                  name="time"
                  class="visually-hidden"
                  value="Другое время"
                />
                <span>Другое время</span>
              </label>
            </div>
          </form>
          <form action="#" class="checkout__form checkout__form--address">
            <div class="checkout__subtitle">Точка для самовывоза</div>

            <div class="checkout__ways">
              <label class="pay">
                <input
                  type="radio"
                  name="pay"
                  class="visually-hidden"
                  value="SberPay"
                  checked
                />
                <span class="box"></span>
                <span>Точка 1</span>
              </label>
              <label class="pay">
                <input
                  type="radio"
                  name="pay"
                  class="visually-hidden"
                  value="Картой на сайте"
                />
                <span class="box"></span>
                <span>Точка 2</span>
              </label>
              <label class="pay">
                <input
                  type="radio"
                  name="pay"
                  class="visually-hidden"
                  value="Наличными"
                />
                <span class="box"></span>
                <span>Точка 3</span>
              </label>
            </div>
          </form>
          <form action="#" class="checkout__form">
            <div class="checkout__subtitle">Способ оплаты</div>

            <div class="checkout__ways">
              <label class="pay">
                <input
                  type="radio"
                  name="pay"
                  class="visually-hidden"
                  value="SberPay"
                  checked
                />
                <span class="box"></span>
                <img src="./img/sber.webp" alt="" />
                <span>SberPay</span>
              </label>
              <label class="pay">
                <input
                  type="radio"
                  name="pay"
                  class="visually-hidden"
                  value="Картой на сайте"
                />
                <span class="box"></span>
                <img src="./img/card.svg" alt="" />
                <span>Картой на сайте</span>
              </label>
              <label class="pay">
                <input
                  type="radio"
                  name="pay"
                  class="visually-hidden"
                  value="Наличными"
                />
                <span class="box"></span>
                <span>Наличными</span>
              </label>
            </div>
          </form>

          <form action="#" class="ch-pay">
            <div class="ch-pay__title">Оплатить бонусами</div>
            <input type="text" class="ch-pay__input" />
            <button class="btn-reset ch-pay__btn">Списать</button>
          </form>
          <form action="#" class="ch-pay">
            <div class="ch-pay__title">Сумма к оплате:</div>
            <div class="ch-pay__cost">430 руб</div>
            <button class="btn-reset ch-pay__ord">К оформлению</button>
          </form>
        </div>

        <form action="#" class="checkout__bottom">
          <label class="pay">
            <input
              type="checkbox"
              name="Рассылки"
              value="Получать персональные предложения и акции"
            />
            <span>Получать персональные предложения и акции</span>
          </label>
        </form>
      </div>

      <div class="checkout__total ch-t">
        <div class="ch-t__title text">Условия и стоимость доставки</div>
        <div class="ch-t__price">до 10 000 ₽</div>
        <div class="ch-t__del">
          Самовывоз по адресу: Москва, ул. Долгоруковская, 25 К2 ПН-ВС
          12:00-23:00
        </div>
        <p class="ch-t__text">
          При заказе до 12:00 все сыры мы сможем привезти на следующий рабочий
          день
          <br /><br />
          ПН-ПТ с 10:00-19:00 по условиям и тарифам Яндекс доставки или
          обсуждается индивидуально
          <br /><br />
          Заказ десертов и “Помощь вашему столу” осуществляется за 48 часов.
        </p>
        <div class="ch-t__price">от 10 000 ₽</div>
        <div class="ch-t__del">Доставка по Москве бесплатно</div>
      </div>
    </div>
  </div>
</section>
