<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Товары собственного производства</h1>
      <p class="desc desc--white hero__desc">
        Эксклюзивный итальянский вкус<br />в самом сердце Москвы
      </p>
      <div class="hero__bottom">
        <a href="#" class="btn btn-reset hero__btn">Забронировать</a>
        <a href="#" class="btn btn--stroke btn-reset hero__btn">Доставка</a>
      </div>
      <div class="hero__socials">
        <a href="#" class="hero__soc">
          <svg class="">
            <use xlink:href="img/sprite.svg#tg"></use>
          </svg>
        </a>
        <a href="#" class="hero__soc">
          <svg class="">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
        <a href="#" class="hero__soc">
          <svg class="">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
        <a href="#" class="hero__soc">
          <svg class="">
            <use xlink:href="img/sprite.svg#insta"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
