<section class="products">
  <div class="products__container">
    <div class="products__img">
      <img src="./img/prod.webp" alt="" />
    </div>
    <div class="products__content">
      <h2 class="products__title">ПРОДУКЦИЯ BISTRO SI ЭТО:</h2>

      <ul class="list-reset products__list">
        <li class="products__item">
          <div class="products__icon">
            <img src="./img/icons/01.webp" alt="" />
          </div>
          <div class="products__desc">НАТУРАЛЬНЫЙ СОСТАВ</div>
        </li>
        <li class="products__item">
          <div class="products__icon">
            <img src="./img/icons/02.webp" alt="" />
          </div>
          <div class="products__desc">соответствие стандартам качества</div>
        </li>
        <li class="products__item">
          <div class="products__icon">
            <img src="./img/icons/03.webp" alt="" />
          </div>
          <div class="products__desc">итальянские закваски и ферменты</div>
        </li>
        <li class="products__item">
          <div class="products__icon">
            <img src="./img/icons/04.webp" alt="" />
          </div>
          <div class="products__desc">традиционная рецептура</div>
        </li>
        <li class="products__item">
          <div class="products__icon">
            <img src="./img/icons/05.webp" alt="" />
          </div>
          <div class="products__desc">собственное производство</div>
        </li>
      </ul>
    </div>
  </div>
</section>
