*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

html {
  font-size: calc(100vw / 160);

  @media (min-width: 1600px) {
    font-size: 10px;
  }

  @media (max-width: 768px) {
    font-size: calc(100vw / 39);
  }
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;

  display: flex;
  flex-direction: column;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title2 {
  margin: 0;

  font-weight: 300;
  font-size: 4rem;
  text-transform: uppercase;
  color: #000;

  @include small-tablet {
    font-size: 2.4rem;
  }

  &--light {
    color: #fff;
  }
}

.desc {
  margin: 0;
  font-weight: 400;
  font-size: 2.4rem;
  color: #000;

  @include small-tablet {
    font-size: 1.6rem;
  }

  &--white {
    color: #fff;
  }
}

input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;

  @include small-tablet {
    width: 1.5rem;
    height: 1.5rem;
  }
}

input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

.text {
  margin: 0;
  font-weight: 300;
  font-size: 1.8rem;
  color: #000;

  @include small-tablet {
    font-size: 1.6rem;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2rem;
  // text-transform: uppercase;
  color: #000;
  border: 1px solid #fff;
  border-radius: .5rem;
  padding: 1rem 3rem;
  background-color: #fff;
  backdrop-filter: blur(8px);
  box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.1);

  transition: .3s ease-out;

  @include hover {
    color: #e42313;
    background-color: #fff;
  }

  @include small-tablet {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-width: 1px;
  }

  &--stroke {
    color: #fff;
    background-color: transparent;

    // @include hover {
    //   color: #000;
    //   background-color: #fff;
    // }
  }

}

.breadcrumbs {

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 400;
      font-size: 2rem;
      color: #000;

      @include small-tablet {
        font-size: 1.4rem;
      }

      a {
        color: inherit;
      }

      &:not(:last-child) {
        &::after {
          content: "\\";
        }
      }

      &:last-child {
        color: #8f8f8f;
      }
    }
  }

  &--light {
    ul {
      li {
        color: #fff;
      }
    }
  }
}

.tabs {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  @include small-tablet {
    gap: 1rem;
  }

  &__item {
    padding: 1.5rem 8rem;
    border: 0.50px solid #8F8F8F;
    border-radius: 5px;
    font-weight: 500;
    font-size: 2rem;
    color: #8f8f8f;
    cursor: pointer;
    transition: .3s ease-out;

    @include hover {
      background-color: #000;
      color: #fff !important;
    }

    @include small-tablet {
      padding: 1rem 1.6rem;
      font-size: 1.4rem;
      line-height: 1;
    }

    &.active {
      color: #e42313;
    }
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}